body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: ghostwhite;
}

/* HOME Styles */
.home .post img {
  display: none;
}

@media (min-width: 768px) {
  .home .post img {
    display: block;
    position: absolute;
    top: 8px;
    left: 16px;
    opacity: 0.25;
    width: 125px;
    height: 125px;
  }
  
  .home .post {
    overflow: hidden;
    padding-left: 130px;
  }
}

/* TODOS Styles */
.todo-app .collection {
  margin-bottom: 2rem;
}
.todos .collection-item {
  text-transform: capitalize;
}
.todos .todo-item {
  margin-left: 10px;
}

.add-todo .input-field.inline input[type=text]:focus {
  /* background: pink; */
  border-bottom: 2px solid #2196F3;
}