body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: lightgrey;
}

.home .post img {
  display: none;
}

@media (min-width: 768px) {
  .home .post img {
    display: block;
    position: absolute;
    top: 8px;
    left: 16px;
    opacity: 0.25;
    width: 125px;
    height: 125px;
  }
  
  .home .post {
    overflow: hidden;
    padding-left: 130px;
  }
}